body{
  margin:0;
  padding:0;
  font-size:16px;
}
header{

}
.logo{

}
nav{

}
nav a{

}
p{
  line-height:1.5em;
}
p,table{
  margin-top: 13px;
}
table, td{
border:1px solid gray;
border-collapse: collapse;
padding: 5px;
}
td{
  width: 200px;
}
figure{
    margin: 21px 0;
    position: relative;
    overflow: hidden;
}
figcaption{
    position: absolute;
    bottom:5px;
    height:35px;
    background-color: rgba(58, 48, 48, 0.645);
    padding:15px 0 15px 20px;
    width:100%;
    color: white;
    font-weight:bold;
}
img{
    /* max-width: 100%; */
  width:100%;
}
.width-90{
  display: block;
  margin: auto;
  width:90%;
}
main{
    display: block;
    margin: auto;
    width:90%;
  padding-bottom:30px;
}
hr{
  width:90%;
  border: 1px solid #ccc;
  margin:30px auto;
}

section{
    
}
.image-on-left{
height: 200px;
width: 90%;
margin: auto;
display: block;
}

.clear-fix{
display: table;
clear: both;
content:"";
}

.image-on-left img{
  float:left;
  border-radius:50%;
  height:150px;
  width:150px;
  object-fit:cover;
  margin-right:30px;
  margin-bottom:30px;
}

footer{
  background-color:#292938;
  color:white;
}


/* HERO Home page */
.hero-homepage{
    height: 30vh;
    width: 100%;
    background-image:url("images/green.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom:40px;
}
/* HERO contact page */

/* START NAV STYLES */
.nav-grid{
    display: grid;
    align-items: center;
    padding:5px;
    /* min-height: 60px; */
    /* This could affect the amount of clickable space for users to toggle on the drop down menu. The larger the number then larger thumbs won't have a problem hiting this button */
    grid-auto-flow: column;
}
/* Navigation bar styles */
.mainNav {
  background: #00411d;
  /* Change bar color */
  color:#ffffff;
  /* Text color - For hamburger and company name*/
  /* height: 55px; */
  /* How tall the nav bar is - This number needs to be in sync with the top number for .mainnav .menu below */
  position: relative;
}
/* Navigation links styles */
nav a{
  display: block;
  /* padding:20px; */
  text-decoration: none;
  color: #fff;
  /* Link color for company name*/
  font-family:  sans-serif;
}
.mainNav a {
  text-decoration: none;
}
.mainNav .menu {
  background: #00411d;
  /* Change the bar color above */
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #efefef;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /*POSITION*/
  position: absolute;
  top: 55px;
  /* NOTE Main nav height and this number need to be the same for drop down menu */
  right: 0;
  left: 0;
}
.mainNav .menu a {
  color: #fff;
  /* NOTE Link color for drop down */
  border-bottom: 1px solid #efefef;
  font-weight: normal;
  /* Change to bold if you want */
  display: block;
  padding: 15px;
}
.mainNav .menu a:hover {
  /* background: #292938; */
  /* NOTE Background color when hovering over links */
  color: #efefef;
  /* Color of text when hovering over link */
}
.mainNav .navBars {
  display: inline-block;
  font-size: 1.2em;
  /* NOTE This will affect the thickness of the hamburger lines */
  line-height: 1.5em;
  float: right;
  text-align: right;
  /* HAMBURGER POSITION to the right*/
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
#xBxHack {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -99999px;
}
#xBxHack:checked ~ nav .menu {
  display: block;
}
.navcontainer {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
}

/* NEW Styles for closing nav menu --------------------*/
/* Hide the close X by default */
.navClose {
    display: none;
    text-align: right;
    cursor: pointer;
    font-size: 1.5rem;  /* match your hamburger size */
}

/* When checkbox is checked: hide hamburger icon, show X */
#xBxHack:checked ~ .navcontainer .navBars {
    display: none;
}

#xBxHack:checked ~ .navcontainer .navClose {
    display: block;
}
/* NOTE END MOBILE NAVIG--------------------------------*/

/* START FOOTER STYLES-------- */
footer{
  padding-top:30px;
  padding-bottom:30px;
}
.footer-wrapper{
  width: 90%;
  margin: auto;
}
footer .fa{
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-right: 20px;
}
/* END FOOTER STYLES-------- */

@media only screen and (min-width:600px){

        main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        width:90%;
        gap:50px;
    }
    section{
        
    }
    /* HERO Homepage */

    /* HERO contact page */

}/* End larger screen styles */

@media only screen and (min-width:1000px){

/* NOTE START Nav styles for medium and larger screens-----
  Do not change nav styles below without help. */
    .navcontainer{
      display: grid;
      min-height: 70px;
      grid-auto-flow: column;
      padding-top: 0;
      padding-bottom: 0;
    }
    .mainNav {
      overflow: hidden;
    }
    .mainNav .navBars {
      display: none;
    }
    .mainNav .menu {
      display: block;
      border: none;
      text-align: right;
      position: static;
    }
    .mainNav .menu li {
      display: inline-block;
    }
    .mainNav .menu a {
      border: none;
      padding: 20px 10px;
    }
    /* END nav styles ---------------------------- */
    } /* End larger screen styles */
